*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/

rust/target
target/
rust/uniffi-bindgen/target
rust/uniffi-bindgen/Cargo.lock

composeApp/src/androidMain/jniLibs
composeApp/src/jvmMain/jniLibs
composeApp/src/androidMain/kotlin/mages
composeApp/src/jvmMain/kotlin/mages